body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

.container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
}

video, canvas {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    border: 2px solid #00796b;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

h3 {
    margin-top: 20px;
    text-decoration: underline;
}
